<?xml version="1.0"?>

<model>
  <name>MBZRIC Red Brick 30x20x20cm</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Robert Penicka</name>
    <email>penicrob@fel.cvut.cz</email>
  </author>

  <description>
    A 30x20x20 red brick for MBZIRC.
  </description>
</model>
