<?xml version="1.0"?>

<model>
  <name>MBZIRC UAV Pickup U-Channel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Robert Penicka</name>
    <email>penicrob@fel.cvut.cz</email>
  </author>

  <description>
      MBZIRC UAV Pickup U-Channel 8.0x0.3x0.1 m
  </description>

</model>
