<?xml version="1.0"?>

<model>
  <name>UGV L pattern</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Daniel Smrcka</name>
    <email>smrckda1@fel.cvut.cz</email>
  </author>

  <description>
    An L pattern for unmanned ground vehicle.
  </description>
</model>
