<?xml version="1.0"?>

<model>
  <name>MBZIRC UAV Assembly Wall</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Robert Penicka</name>
    <email>penicrob@fel.cvut.cz</email>
  </author>

  <description>
    MBZIRC UAV Assembly Wall  4.0x0.3x1.7 m
  </description>

</model>
