<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)" />

  <arg name="gui" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="simul" default="false"/>
  <arg name="bag" default="false"/>

  <!-- <arg name="standalone" default="true" /> -->
  <arg name="standalone" default="$(optenv STANDALONE false)" />
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <arg name="cam_device" default="$(env BLUEFOX_DET)" />
  <arg name="cam_rate" default="30" />
  <arg name="cam_plugin" default="true"/>
  <arg name="cam_output" default="screen"/>
  <arg name="cam_proc" default="false"/>
  <arg name="cam_view" default="false"/>
  <arg name="cam_calib" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_brick_detection_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="camera_frame" default="detect_cam_$(arg uav_name)" />
  <arg name="uav_frame" default="fcu_$(arg uav_name)" />
  <arg name="uav_untilted_frame" default="fcu_untilted_$(arg uav_name)" />
  <arg name="cam_yaw" default="3.14159265359" />
  <!-- <arg name="cam_yaw" default="0" /> -->

  <!-- Autoexposure nodelet -->
  <!-- <include file="$(find mrs_auto_exposure)/launch/uav_optic_flow_dark.launch" /> -->

  <group ns="$(arg uav_name)">

    <node
      name="detect_cam_tf"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="0 -0.235 -0.1 $(arg cam_yaw) 0.00000000000 -3.14159265359 $(arg uav_frame) $(arg camera_frame) "/>
    <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node>

    <!-- Bluefox2 nodelet -->
    <!-- Camera Settings -->
    <arg name="serial" default="$(arg cam_device)" />
    <arg name="camera_name" default="bluefox_detect" />
    <arg name="camera" default="$(arg camera_name)" />
    <arg name="frame_id" default="$(arg camera_frame)" />
    <arg name="calib_url" default="file://$(find mrs_general)/config/camera_calibrations/mv_$(arg cam_device).yaml" />
    <arg name="fps" default="$(arg cam_rate)" />
    <arg name="color" default="false"/>
    <arg name="idpf" default="0" />
    <arg name="aec" default="true" />
    <arg name="expose_upper_limit_us" default="7500"/>
    <arg name="des_grey_value" default="60" />
    <!-- sunny -->
    <!-- <arg name="expose_us" default="75" /> -->
    <arg name="expose_us" default="1000" /> <!-- dusk -->
    <arg name="agc" default="true" />
    <arg name="boost" value="false"/>
    <arg name="gain_db" default="32.0" />
    <arg name="cbm" default="0" />
    <arg name="ctm" default="1" />
    <arg name="dcfm" default="0" />
    <arg name="hdr" default="false" />
    <arg name="wbp" default="-1" />
    <arg name="request" default="0" />
    <arg name="mm" default="0" />

    <!-- Arguments for theora quality, images being compressed into "stream" -->
    <arg name="compressed_jpeg_quality" default="90" />
    <arg name="theora_keyframe_frequency" default="60"  />
    <arg name="theora_target_bitrate" default="50000"  />
    <arg name="theora_quality" default="8"  />
    <arg name="theora_optimize_for" default="0"  />

    <include file="$(find bluefox2)/launch/single_nodelet.launch" >

      <!-- Common Interface -->
      <arg name="device" value="$(arg cam_device)"/>
      <arg name="rate" value="$(arg cam_rate)"/>

      <!-- Camera Settings -->
      <arg name="serial" value="$(arg cam_device)"/>
      <arg name="camera_name" value="$(arg camera_name)"/>
      <arg name="camera" value="$(arg camera)"/>
      <arg name="frame_id" value="$(arg frame_id)"/>
      <arg name="calib_url" value="$(arg calib_url)"/>
      <arg name="fps" value="$(arg fps)"/>
      <arg name="color" value="$(arg color)"/>
      <arg name="aec" value="$(arg aec)"/>
      <arg name="expose_upper_limit_us" value="$(arg expose_upper_limit_us)"/>
      <arg name="des_grey_value" value="$(arg des_grey_value)"/> 
      <arg name="cbm" value="$(arg cbm)"/>
      <arg name="ctm" value="$(arg ctm)"/>
      <arg name="dcfm" value="$(arg dcfm)"/>
      <arg name="hdr" value="$(arg hdr)"/>
      <arg name="wbp" value="$(arg wbp)"/>
      <arg name="expose_us" value="$(arg expose_us)"/>
      <arg name="gain_db" value="$(arg gain_db)"/>
      <arg name="boost" value="$(arg boost)"/>
      <arg name="mm" value="$(arg mm)"/>

      <!-- Node Settings -->
      <arg name="plugin" value="$(arg cam_plugin)"/>
      <arg name="manager" value="$(arg nodelet_manager)"/>
      <arg name="output" value="$(arg cam_output)"/>
      <arg name="proc" value="$(arg cam_proc)"/>
      <arg name="view" value="$(arg cam_view)"/>
      <arg name="calib" value="$(arg cam_calib)"/>

      <!-- Arguments for theora quality, images being compressed into "stream" -->
      <arg name="compressed_jpeg_quality" default="$(arg compressed_jpeg_quality)" />
      <arg name="theora_keyframe_frequency" default="$(arg theora_keyframe_frequency)"  />
      <arg name="theora_target_bitrate" default="$(arg theora_target_bitrate)"  />
      <arg name="theora_quality" default="$(arg theora_quality)"  />
      <arg name="theora_optimize_for" default="$(arg theora_optimize_for)"  />

    </include>

    <!-- Brick detection nodelet -->
     <node pkg="nodelet" type="nodelet" name="brick_detection" args="$(arg nodelet) brick_detection/BrickDetectionNodelet $(arg nodelet_manager)" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">

      <rosparam file="$(find brick_detection)/cfg/simulation.yaml" />

      <param name="uav_name" type="string" value="$(arg uav_name)"/>
      <param name="gui" type="bool" value="$(arg gui)"/>
      <param name="debug" type="bool" value="$(arg debug)"/>
      <param name="simul" type="bool" value="$(arg simul)"/>
      <param name="bag" type="bool" value="$(arg bag)"/>
      <param name="frame_topic" type="string" value="/fcu_$(arg uav_name)"/>

      Subscribed topics
      <remap from="~image" to="bluefox_detect/image_raw" />
      <remap from="~cam_info" to="bluefox_detect/camera_info" />
      <remap from="~uav_odometry" to="mbzirc_odom/new_odom" />
      <remap from="~grasping_result" to="landing_object_controller/grasping_result" />

      Published topics
      <remap from="~objectRelative" to="~objectRelative" />
      <remap from="~objectPositions" to="~objectPositions" />
      <remap from="~objects" to="~objects" />
      <remap from="~object_array" to="~object_array" />
      <remap from="~processedimage" to="~processedimage" />
      <remap from="~objectImages" to="~objectImages" />
      <remap from="~histogram" to="~histogram" />

    </node> 

  </group>

</launch>
